In [ ]:
!pip install Twython
import pandas as pd
import numpy as np 
from twython import Twython

CONSUMER_KEY = " "
CONSUMER_SECRET = " "
OAUTH_TOKEN = " "
OAUTH_TOKEN_SECRET = " "

twitter = Twython(
    CONSUMER_KEY, CONSUMER_SECRET,
    OAUTH_TOKEN, OAUTH_TOKEN_SECRET)

Collecting Twython
  Downloading https://files.pythonhosted.org/packages/24/80/579b96dfaa9b536efde883d4f0df7ea2598a6f3117a6dd572787f4a2bcfb/twython-3.8.2-py3-none-any.whl
Requirement already satisfied: requests-oauthlib>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from Twython) (1.3.0)
Requirement already satisfied: requests>=2.1.0 in /usr/local/lib/python3.7/dist-packages (from Twython) (2.23.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.4.0->Twython) (3.1.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.1.0->Twython) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.1.0->Twython) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.1.0->Twython) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.1.0->Twython) (2021.5.30)
Installing collected packages: Twython
Successfully installed Twython-3.8.2

In [ ]:
tweets = []
MAX_ATTEMPTS = 40
COUNT_OF_TWEETS_TO_BE_FETCHED = 10000

for i in range(0,MAX_ATTEMPTS):

    if(COUNT_OF_TWEETS_TO_BE_FETCHED < len(tweets)):
        print("We Got ", len(tweets), " tweets!!!")
        break # we got the  tweets... !!

    #----------------------------------------------------------------#
    # STEP 1: Query Twitter
    # STEP 2: Save the returned tweets
    # STEP 3: Get the next max_id
    #----------------------------------------------------------------#

    # STEP 1: Query Twitter
    if(0 == i):
        # Query twitter for data. 
        results = twitter.search(q="150ευρώ",count='1000')
        print("I Got:", len(results['statuses']), " tweets")
    else:
        # After the first call we should have max_id from result of previous call. Pass it in query.
        results = twitter.search(q="150ευρώ",count='1000', include_entities='true',max_id=next_max_id)
        print("I Got:", len(results['statuses']), " tweets")


    # STEP 2: Save the returned tweets
    for result in results['statuses']:
#        tweet_text = result['text']
        tweets.append(result)


    # STEP 3: Get the next max_id
    try:
        # Parse the data returned to get max_id to be passed in consequent call.
        next_results_url_params = results['search_metadata']['next_results']
        next_max_id = next_results_url_params.split('max_id=')[1].split('&')[0]
    except:
        # No more next pages
        break

I Got: 100  tweets
I Got: 100  tweets
I Got: 100  tweets
I Got: 100  tweets
I Got: 100  tweets
I Got: 100  tweets
I Got: 100  tweets
I Got: 100  tweets
I Got: 100  tweets
I Got: 100  tweets
I Got: 100  tweets
I Got: 100  tweets
I Got: 100  tweets
I Got: 100  tweets
I Got: 100  tweets
I Got: 100  tweets
I Got: 100  tweets
I Got: 100  tweets
I Got: 100  tweets
I Got: 100  tweets
I Got: 100  tweets
I Got: 100  tweets
I Got: 100  tweets
I Got: 100  tweets
I Got: 100  tweets
I Got: 100  tweets
I Got: 100  tweets
I Got: 97  tweets
I Got: 100  tweets
I Got: 100  tweets
I Got: 100  tweets
I Got: 100  tweets
I Got: 100  tweets
I Got: 100  tweets
I Got: 100  tweets
I Got: 100  tweets
I Got: 52  tweets
I Got: 0  tweets

In [ ]:
#results['search_metadata']

In [ ]:
#results['statuses']

In [ ]:
tweets_df = pd.DataFrame(tweets)

In [ ]:
tweets_df.head(105)

                         created_at  ...  withheld_in_countries
0    Wed Jun 30 13:50:23 +0000 2021  ...                    NaN
1    Wed Jun 30 13:49:30 +0000 2021  ...                    NaN
2    Wed Jun 30 13:47:33 +0000 2021  ...                    NaN
3    Wed Jun 30 13:47:12 +0000 2021  ...                    NaN
4    Wed Jun 30 13:38:32 +0000 2021  ...                    NaN
..                              ...  ...                    ...
100  Wed Jun 30 09:12:13 +0000 2021  ...                    NaN
101  Wed Jun 30 09:10:41 +0000 2021  ...                    NaN
102  Wed Jun 30 09:10:32 +0000 2021  ...                    NaN
103  Wed Jun 30 09:08:22 +0000 2021  ...                    NaN
104  Wed Jun 30 09:06:45 +0000 2021  ...                    NaN

[105 rows x 31 columns]

In [ ]:
tweets_df

                          created_at  ...  withheld_in_countries
0     Wed Jun 30 13:50:23 +0000 2021  ...                    NaN
1     Wed Jun 30 13:49:30 +0000 2021  ...                    NaN
2     Wed Jun 30 13:47:33 +0000 2021  ...                    NaN
3     Wed Jun 30 13:47:12 +0000 2021  ...                    NaN
4     Wed Jun 30 13:38:32 +0000 2021  ...                    NaN
...                              ...  ...                    ...
3644  Sat Jun 26 20:31:54 +0000 2021  ...                    NaN
3645  Sat Jun 26 20:28:48 +0000 2021  ...                    NaN
3646  Sat Jun 26 20:19:58 +0000 2021  ...                    NaN
3647  Sat Jun 26 20:19:07 +0000 2021  ...                    NaN
3648  Fri Jun 25 07:43:22 +0000 2021  ...                    NaN

[3649 rows x 31 columns]

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

Αποθήκευσε τα tweets σε ένα αρχείο που οι τιμές διαχωρίζονται με tabs

In [ ]:
tweets_df.to_csv("/content/gdrive/My Drive/Colab Notebooks/150euro_search.tsv", sep='\t')