In [ ]:
!pip install Twython
import pandas as pd
import numpy as np 
from twython import Twython

CONSUMER_KEY = " "
CONSUMER_SECRET = " "
OAUTH_TOKEN = " "
OAUTH_TOKEN_SECRET = " "

twitter = Twython(
    CONSUMER_KEY, CONSUMER_SECRET,
    OAUTH_TOKEN, OAUTH_TOKEN_SECRET)

Collecting Twython
  Downloading https://files.pythonhosted.org/packages/24/80/579b96dfaa9b536efde883d4f0df7ea2598a6f3117a6dd572787f4a2bcfb/twython-3.8.2-py3-none-any.whl
Requirement already satisfied: requests>=2.1.0 in /usr/local/lib/python3.7/dist-packages (from Twython) (2.23.0)
Requirement already satisfied: requests-oauthlib>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from Twython) (1.3.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.1.0->Twython) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.1.0->Twython) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.1.0->Twython) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.1.0->Twython) (1.24.3)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.4.0->Twython) (3.1.1)
Installing collected packages: Twython
Successfully installed Twython-3.8.2

In [ ]:
tweets = []
MAX_ATTEMPTS = 40
COUNT_OF_TWEETS_TO_BE_FETCHED = 10000

for i in range(0,MAX_ATTEMPTS):

    if(COUNT_OF_TWEETS_TO_BE_FETCHED < len(tweets)):
        print("We Got ", len(tweets), " tweets!!!")
        break # we got the  tweets... !!

    #----------------------------------------------------------------#
    # STEP 1: Query Twitter
    # STEP 2: Save the returned tweets
    # STEP 3: Get the next max_id
    #----------------------------------------------------------------#

    # STEP 1: Query Twitter
    if(0 == i):
        # Query twitter for data. 
        results = twitter.search(q="visitgreece",count='1000')
        print("I Got:", len(results['statuses']), " tweets")
    else:
        # After the first call we should have max_id from result of previous call. Pass it in query.
        results = twitter.search(q="visitgreece",count='1000', include_entities='true',max_id=next_max_id)
        print("I Got:", len(results['statuses']), " tweets")


    # STEP 2: Save the returned tweets
    for result in results['statuses']:
#        tweet_text = result['text']
        tweets.append(result)


    # STEP 3: Get the next max_id
    try:
        # Parse the data returned to get max_id to be passed in consequent call.
        next_results_url_params = results['search_metadata']['next_results']
        next_max_id = next_results_url_params.split('max_id=')[1].split('&')[0]
    except:
        # No more next pages
        break

I Got: 100  tweets
I Got: 100  tweets
I Got: 100  tweets
I Got: 100  tweets
I Got: 100  tweets
I Got: 100  tweets
I Got: 73  tweets
I Got: 0  tweets

In [ ]:
#results['search_metadata']

In [ ]:
#results['statuses']

In [ ]:
tweets_df = pd.DataFrame(tweets)

In [ ]:
tweets_df.head(105)

                         created_at  ...  quoted_status
0    Wed Jun 30 13:15:33 +0000 2021  ...            NaN
1    Wed Jun 30 12:30:12 +0000 2021  ...            NaN
2    Wed Jun 30 12:21:21 +0000 2021  ...            NaN
3    Wed Jun 30 12:21:18 +0000 2021  ...            NaN
4    Wed Jun 30 12:19:15 +0000 2021  ...            NaN
..                              ...  ...            ...
100  Mon Jun 28 10:02:55 +0000 2021  ...            NaN
101  Mon Jun 28 09:38:38 +0000 2021  ...            NaN
102  Mon Jun 28 09:37:56 +0000 2021  ...            NaN
103  Mon Jun 28 09:37:55 +0000 2021  ...            NaN
104  Mon Jun 28 09:37:09 +0000 2021  ...            NaN

[105 rows x 30 columns]

In [ ]:
tweets_df

                         created_at  ...                                      quoted_status
0    Wed Jun 30 13:15:33 +0000 2021  ...                                                NaN
1    Wed Jun 30 12:30:12 +0000 2021  ...                                                NaN
2    Wed Jun 30 12:21:21 +0000 2021  ...                                                NaN
3    Wed Jun 30 12:21:18 +0000 2021  ...                                                NaN
4    Wed Jun 30 12:19:15 +0000 2021  ...                                                NaN
..                              ...  ...                                                ...
668  Tue Jun 22 07:38:35 +0000 2021  ...                                                NaN
669  Tue Jun 22 07:10:59 +0000 2021  ...                                                NaN
670  Tue Jun 22 07:04:57 +0000 2021  ...  {'created_at': 'Tue Jun 22 06:30:00 +0000 2021...
671  Tue Jun 22 06:56:27 +0000 2021  ...                                                NaN
672  Tue Jun 22 06:11:19 +0000 2021  ...  {'created_at': 'Tue Jun 22 05:40:01 +0000 2021...

[673 rows x 30 columns]

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

ŒëœÄŒøŒ∏ŒÆŒ∫ŒµœÖœÉŒµ œÑŒ± tweets œÉŒµ Œ≠ŒΩŒ± Œ±œÅœáŒµŒØŒø œÄŒøœÖ ŒøŒπ œÑŒπŒºŒ≠œÇ Œ¥ŒπŒ±œáœâœÅŒØŒ∂ŒøŒΩœÑŒ±Œπ ŒºŒµ tabs

In [ ]:
tweets_df.to_csv("/content/gdrive/My Drive/Colab Notebooks/visitgreece_search.tsv", sep='\t')