In [ ]:
!pip install Twython
import pandas as pd
import numpy as np 
from twython import Twython

CONSUMER_KEY = " "
CONSUMER_SECRET = " "
OAUTH_TOKEN = " "
OAUTH_TOKEN_SECRET = " "

twitter = Twython(
    CONSUMER_KEY, CONSUMER_SECRET,
    OAUTH_TOKEN, OAUTH_TOKEN_SECRET)

Requirement already satisfied: Twython in /usr/local/lib/python3.7/dist-packages (3.8.2)
Requirement already satisfied: requests>=2.1.0 in /usr/local/lib/python3.7/dist-packages (from Twython) (2.23.0)
Requirement already satisfied: requests-oauthlib>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from Twython) (1.3.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.1.0->Twython) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.1.0->Twython) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.1.0->Twython) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.1.0->Twython) (1.24.3)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.4.0->Twython) (3.1.1)

In [ ]:
tweets = []
MAX_ATTEMPTS = 100
COUNT_OF_TWEETS_TO_BE_FETCHED = 20000 

for i in range(0,MAX_ATTEMPTS):

    if(COUNT_OF_TWEETS_TO_BE_FETCHED < len(tweets)):
        print("We Got ", len(tweets), " tweets!!!")
        break # we got the  tweets... !!

    #----------------------------------------------------------------#
    # STEP 1: Query Twitter
    # STEP 2: Save the returned tweets
    # STEP 3: Get the next max_id
    #----------------------------------------------------------------#

    # STEP 1: Query Twitter
    if(0 == i):
        # Query twitter for data. 
        results = twitter.search(q="τουρισμός",count='10000')
        print("I Got:", len(results['statuses']), " tweets")
    else:
        # After the first call we should have max_id from result of previous call. Pass it in query.
        results = twitter.search(q="τουρισμός",count='10000', include_entities='true',max_id=next_max_id)
        print("I Got:", len(results['statuses']), " tweets")


    # STEP 2: Save the returned tweets
    for result in results['statuses']:
#        tweet_text = result['text']
        tweets.append(result)


    # STEP 3: Get the next max_id
    try:
        # Parse the data returned to get max_id to be passed in consequent call.
        next_results_url_params = results['search_metadata']['next_results']
        next_max_id = next_results_url_params.split('max_id=')[1].split('&')[0]
    except:
        # No more next pages
        break

I Got: 100  tweets
I Got: 100  tweets
I Got: 100  tweets
I Got: 100  tweets
I Got: 100  tweets
I Got: 100  tweets
I Got: 100  tweets
I Got: 100  tweets
I Got: 100  tweets
I Got: 100  tweets
I Got: 100  tweets
I Got: 100  tweets
I Got: 100  tweets
I Got: 100  tweets
I Got: 100  tweets
I Got: 100  tweets
I Got: 100  tweets
I Got: 100  tweets
I Got: 100  tweets
I Got: 100  tweets
I Got: 100  tweets
I Got: 100  tweets
I Got: 100  tweets
I Got: 90  tweets
I Got: 0  tweets

In [ ]:
#results['search_metadata']

In [ ]:
#results['statuses']

In [ ]:
tweets_df = pd.DataFrame(tweets)

In [ ]:
tweets_df.head(105)

                         created_at  ...  quoted_status
0    Wed Jun 30 12:50:39 +0000 2021  ...            NaN
1    Wed Jun 30 12:40:07 +0000 2021  ...            NaN
2    Wed Jun 30 12:32:54 +0000 2021  ...            NaN
3    Wed Jun 30 12:30:44 +0000 2021  ...            NaN
4    Wed Jun 30 12:30:21 +0000 2021  ...            NaN
..                              ...  ...            ...
100  Wed Jun 30 05:25:01 +0000 2021  ...            NaN
101  Wed Jun 30 05:19:46 +0000 2021  ...            NaN
102  Wed Jun 30 05:19:13 +0000 2021  ...            NaN
103  Wed Jun 30 05:15:45 +0000 2021  ...            NaN
104  Wed Jun 30 05:09:46 +0000 2021  ...            NaN

[105 rows x 30 columns]

In [ ]:
tweets_df

                          created_at  ...  quoted_status
0     Wed Jun 30 12:50:39 +0000 2021  ...            NaN
1     Wed Jun 30 12:40:07 +0000 2021  ...            NaN
2     Wed Jun 30 12:32:54 +0000 2021  ...            NaN
3     Wed Jun 30 12:30:44 +0000 2021  ...            NaN
4     Wed Jun 30 12:30:21 +0000 2021  ...            NaN
...                              ...  ...            ...
2385  Tue Jun 22 06:49:14 +0000 2021  ...            NaN
2386  Tue Jun 22 06:25:04 +0000 2021  ...            NaN
2387  Tue Jun 22 06:25:04 +0000 2021  ...            NaN
2388  Tue Jun 22 05:48:15 +0000 2021  ...            NaN
2389  Tue Jun 22 05:33:40 +0000 2021  ...            NaN

[2390 rows x 30 columns]

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Αποθήκευσε τα tweets σε ένα αρχείο που οι τιμές διαχωρίζονται με tabs

In [ ]:
tweets_df.to_csv("/content/gdrive/My Drive/Colab Notebooks/tourism_search.tsv", sep='\t')